body {
    font-size: 100%;
    font-family: Century;
    color: white;
    background: url(images/sfondo.png) no-repeat 0 0;
    background-size:100%;
    background-color: black;
}
.error{
	color: red;
	font-weight: bold;
	font-size: 130%;
	padding-left: 40%;
	padding-top: 4%;
}
.red{
	color: red;
	font-weight: bold;
	font-size: 140%;
}
header div#headerSX{
	 float: left; 
	 display: block;
	 margin-left: 1%;
	 margin-top: 2%;
	 height: 39%;
	 width:21.5%;
}
header table#headerDX{
	  text-align: right; 
	  display: block;	
	  margin-left: 85%;
	  margin-top: -5%;
}
header table#headerDX a{ 
	 color: white;
	 font-size: 120%;
	 text-decoration: none;
	 	
}
header table#headerDX a:hover{ 
	 color: lightgreen;
	 font-size: 125%;
	 text-decoration: none;
}
header div#dec{
	margin-top: 1%;
}
header div#dec label#frase{
	color: lightblue;
	font-weight: bold;
	font-size:450%;
	margin-left:4%;
	font-family:Palace Script MT;
	
}
header div#dec label#autoreFrase{
	color: lightblue;
	font-weight: italic;
	font-size: 300%;
	margin-left:35%;
	font-family:Palace Script MT;
}
form[name="loginForm"]{
	position: fixed;
	text-align: left;
}
form[name="loginForm"] input[placeholder]{
	float: right;
	width: 45%;
}
form[name="loginForm"] label{
	float: left;
	width: 45%
}
hr{
	 border: solid 2px white;
	 margin-top: 4.5%;
}
nav div#listCat img{
	display: inline;
	margin-bottom:-1%;
	
}
nav div#listCat a{
	display: inline;
	font-size: 130%;
	padding-left: 7%;
	padding-right: 7%;
}
nav div#listCatalogo a{
	display: inline;
	font-size: 130%;
	padding-left: 3%;
	padding-right:3%;
}

nav div#listHome a{
	display: inline;
	font-size:150%;
	padding-left: 25%;	
}
nav a{
	  color: white;
	  text-align:center;
	  text-decoration: none;
	  font-weight: bold;
}
nav a:hover{
	 color: lightgreen;
	 text-decoration: none;
	 font-size:160%;
}
nav .search{
   	float: right;
   	margin-right: 3%;
   	margin-top:-5%;
}
nav .search input#txtsearch{
   	font-size: 130%;
   	color: darkred;
   	margin-top: -3.5%;
}
nav .search input#btnsearch{
    background: url(images/ricerca.png) no-repeat 0 0;
    background-size:100%;
  	height: 65px;
  	width: 65px;
  	margin-top: 5%;
}
textarea{
	resize: none;
}
.smallIcon{
	height: 10em;
	width: 10em;
}
#cartLoginError{
	color: red;
	font-weight: bold;
	font-size: 130%;
}
.generi table#tblUscite{
	text-aling:center;
	width: 100%;
	heigth: 100%;
	border-collapse: collapse;
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
	margin-top: 3%;
}
.generi table#tblUscite tr{
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
}
.generi table#tblUscite td{
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
}
.generi table#tblUscite a{
	margin-top: 5%;
}

div#footer{
   	display: block;
   	position: relative;
   	bottom:0px;  
}
div#footer p{
    color: white;
   	padding-left: 58%;
   	padding-top:5%;
   	text-align:center;
}
.bordato{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.generi{
	text-align:center;
	margin: 4% 2% 4% 2%;
}
.generi label#lbTitolo{
	font-size: 210%;
	font-weight: italic;
	font-family: Century Schoolbook;
	color: lightblue;
}
.generi label.lbSottotitolo{
	font-size: 150%;
	font-weight: italic;
	font-family: Century Schoolbook;
	color: lightgreen;
	display:block;
}
.generi table#tblGenere{
	text-aling:center;
	width: 100%;
	heigth: 250%;
	border-collapse: collapse;
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
	margin-top: 3%;
}
.generi table#tblGenere tr{
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
}
.generi table#tblGenere td{
	border: solid 1px lightblue;
	padding: 2% 3% 2% 3%;
}
.generi a{
	color: white;
	font-size: 130%;
	text-decoration: none;
}
.generi a:hover{
	color: lightgreen;
}
.generi table#tblGenere a{
	color: white;
	font-size: 130%;
	text-decoration: none;
	word-wrap:break-word;
}
.generi table#tblGenere a:hover{
	color: lightgreen;
}
.generi form#frmIns{
	margin-top:7%;
	margin-bottom: 20%;
	border: solid 1px lightblue;
	padding-top: 3%;
}
.generi form#frmIns label{
	font-size:130%;
	margin-top:2%;
}
.generi form#frmIns input{
	font-size:130%;
	color: darkred;
	margin-top:2%;
}
.generi form#frmIns div#button input{
	width:140px;
	height:70px;
	margin-bottom: 5%;
}
.generi form#add input{
		font-size: 130%;
    	color: darkred;
    	margin-top: -3.5%;
    	margin-bottom: 5%;
}
.generi form#add input#addCart{
    	margin-top: -3.5%;
    	margin-bottom: 5%;
    	height: 100px;
    	width: 90px;
    	background: url(images/cartIcon.jpeg) no-repeat 0 0;
    	 background-size:100%;
}
.generi form#add input#remCart{
    	margin-top: 3%;
    	margin-bottom: 5%;
    	height: 53px;
    	width: 53px;
    	background: url(images/removeIcon.jpg) no-repeat 0 0;
    	 background-size:100%;
}
.generi form#frmIns div#button input#send{
	 background: url(images/send.png) no-repeat 0 0;
	 background-size:100%;
}
.tblDettaglio .det{
	color: white;
	font-size: 140%;
	font-weight:bold;
}
.tblDettaglio{
	margin-left: 25%;
	font-size: 110%;
	text-align: left;
	padding:6% 2% 6% 4%;
	color: white;
	width: 50%;
	height: 70%;
	border: solid 1px lightblue;
	margin-top: 6%;
}
.generi table#tblLink{
	color: white;
	font-size: 150%;
	text-decoration: none;
	width: 40%;
	height: 70%;
	margin-left: 30%;
	margin-top: 3%;
	margin-bottom: 50%;
}
.Elenco p{
	color: white;
	font-size: 140%;
	text-align:left;
}

.generi table#tblLink a{
	color: white;
	font-size: 130%;
	text-decoration: none;
	text-align: center;	
}
.generi table#tblLink a:hover{
	color: lightgreen;
}
.reg a{
	  color: white;
	  text-align:center;
	  text-decoration: none;
	  font-size:130%;
	  
}
.reg a:hover{
	 color: lightgreen;
	 text-decoration: none;
}
.tot {
	font-size: 170%;
	font-weight: italic;
	font-family: Century Schoolbook;
	color: orange;
}
p#paginaNext a{
	float:right;
}
p#paginaPrec a{
	float:left;
}
.name{
	font-size: 170%;
	font-weight: italic;
	font-family: Century Schoolbook;
	color: lightblue;
	margin-bottom: 2%;
	margin-top: 2%;
}
.inline{
	display: inline;
}
.generi .bold{
	font-weight: bold;
	float:left;
	font-size:110%;
	padding-left: -1%;
}
.small{
	font-size:70%;
	display: inline;
}
.small a:hover{
	color:lightblue;
}
.clear{
	 background: url(images/clearIcon.png) no-repeat 0 0;
	 background-size:100%;
	 width: 100px;
	 height: 100px;
}

